<div class="container-fluid home">
    <div class="botones">
        <h1>Reserva tus partidos de padel</h1>
        <a href="/iniciar-sesion" class="btn btn-dark">Iniciar sesión</a>
        <a href="/iniciar-sesion" class="btn btn-dark">Registrarse</a>
    </div>
    <img src="../images/fondopadel.webp" class="backgroundimg" alt="background img">
</div>