<div class="container profile">
    <div class="row align-items-start">
        <div class="col">
            <img src="{{avatar}}" class="img-fluid" alt="profile picture">
        </div>
        <div class="col">
            <h1>Mi perfil</h1>
            <hr>
            <h2>{{name}}</h2>
            <p>Seguidores</p>
            <p>Partidos</p>
            {{#each friends}}
            <img src="cinqueterre.jpg" class="rounded-circle" alt="Friends pics">
            {{/each}}
            <p>{{favouriteClubs}}</p>
            <a href="/perfil/{{_id}}/editar" class="btn btn-warning">Editar perfil</a>
        </div>
    </div>
</div>