<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Crear club de Padel</h1>

            <hr>

            <form action="/clubs/crear" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="street" class="form-label">Dirección</label>
                    <input type="text" class="form-control" id="street" name="street">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city">
                </div>
                <div class="mb-3">
                    <label for="zip" class="form-label">Código Postal</label>
                    <input type="text" class="form-control" id="zip" name="zip">
                </div>
                <div class="mb-3">
                    <label for="latitude" class="form-label">Latitud</label>
                    <input type="text" class="form-control" id="latitudeIn" name="latitude">
                </div>
                <div class="mb-3">
                    <label for="longitude" class="form-label">Longitud</label>
                    <input type="text" class="form-control" id="longitudeIn" name="longitude">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="text" class="form-control" id="image" name="image">
                </div>

                <button type="submit" class="btn btn-dark">Crear partido</button>
                <a href="/" class="btn btn-dark">Volver al inicio</a>
            </form>

            <style>
                #matchMap {
                    height: 300px;
                    background-color: red;
                    margin-top: 10px;
                }
            </style>
            
            <figure id="matchMap"></figure>

            <hr>


        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/match-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtf8mk6VyrR7KMMLz5WRmqhcbrtuTYDCg&callback=initMap"></script>