<div class="container">

    <div class="row">
        <div class="col-md-8">
            <img src="/images/club-padel1.jpeg" class="figure-img img-fluid rounded" alt="Foto del club">
            <h2>{{name}}</h2>
            <p>{{address.street}}, {{address.city}}, {{address.zip}}</p>
            <button type="button" class="btn btn-danger">Seguir</button>
            {{#each player}}
            <img src="/images/club-padel1.jpeg" class="rounded mx-auto d-block" alt="...">
            {{/each}}
            <p>11 Pistas disponibles </p>
            <button type="button" class="btn btn-dark">Como llegar</button>
            <button type="button" class="btn btn-dark">Web</button>
            <button type="button" class="btn btn-dark">Llamar</button>
        </div>
    </div>

    <style>
        #clubsMap {
            height: 300px;
            background-color: red;
        }
    </style>

    <figure id="clubsMap"></figure>



    <table class="table">
        <thead>
            <tr>
                <th scope="col">Horarios</th>
            </tr>
        <tbody>
            <tr>
                <th scope="row">Lunes - Viernes</th>
                <td></td>
                <td></td>
                <td>08:00 - 23:00</td>
            </tr>
            <tr>
                <th scope="row">Sábado - Domingo </th>
                <td></td>
                <td></td>
                <td>09:00 - 22:00</td>
            </tr>
            <tr>
                <th scope="row">* Festivos</th>
                <td colspan="2"></td>
                <td>09:00 - 14:00</td>
            </tr>
        </tbody>
    </table>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/club-map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtf8mk6VyrR7KMMLz5WRmqhcbrtuTYDCg&callback=initMap"></script>