<div class="container">

    <h1>Clubs de padel</h1>

    <hr>

    <div class="clubs row align-items-center">
        {{#each clubs}}
        <div class="col">
            <img src="{{image}}" class="figure-img img-fluid rounded" alt="Foto del club">
            <h2>{{name}}</h2>
            <small class="text-muted">{{address.city}}</small>
            <a href="/clubs/{{id}}" class="btn btn-info">Detalles</a>
        </div>

        {{/each}}
    </div>
</div>