.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* overflow: auto; */
    /* background-color: aqua; */
    /* background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png"); */
    background-image: url("https://fotografias.antena3.com/clipping/cmsimages02/2021/10/25/EB3767FF-1E84-4602-8E6A-D4957D86A34E/98.jpg?crop=1920,1080,x0,y200&width=1900&height=1069&optimize=low&format=webply");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.index-elements {
    text-align: center;
    margin-top: 230px;
}

.match-list {
    margin-bottom: 20px;
}

.match-list-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.btn-dark {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    border: solid 1px transparent;

}

.navbar-parent {
    display: flex !important;
    justify-content: space-between;
}

.nav-link {
    width: 100px;
}

.row.align-items-center {
    margin-bottom: 50px;
}


.rounded {
    width: 700px;
}

.btn.btn-light {
    margin-top: 100px;
}

.container.profile {
    margin-top: 50px;
}

.clubs {
    margin: 100px;
}

.followersPic {
    border-radius: 100%;
    border: solid 1px white;
    width: 100px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
}

.container2 {
    margin-left: 50px;
    margin-right: 50px;
}


/* .home {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: green;
    background-image: url(fondopadel.webp);
    background-repeat: no-repeat;
} */

.backgroundimg {
    width: 1450px;
    object-fit: cover;
    margin-left: 0px;
}

#clubsMap {
    height: 300px;
    background-color: red;
}

.imgclubprof {
    height: 100px;
}

.imgavatar {
    border-radius: 100%;
    border: solid 1px white;
    width: 100px;
    height: 70px;
}