.rounded {
    width: 700px;
}

.btn.btn-light {
    margin-top: 100px;
}

.container.profile {
    margin-top: 50px;
}

.clubs {
    margin: 100px;
}

.followersPic {
    border-radius: 5px;
    border: 1px, black;
}

.followersPic {
    border-radius: 100%;
    border: solid 1px white;
    width: 100px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
}

.container2 {
    margin-left: 50px;
    margin-right: 50px;
}

.home {
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: green;
    background-image: url(fondopadel.webp);
    background-repeat: no-repeat;
}

.backgroundimg {
    width: 1450px;
    object-fit: cover;
    margin-left: 0px;
}